/* === GENERAL === */

:root {
  --border: 1px solid rgb(120, 160, 220);
  --shadow: 0px 0px 8px 2px rgb(120, 160, 220);
  --shadow-hover: 0px 0px 16px 4px rgb(120, 160, 220);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  cursor: url("../images/landing-images/pointer.png") 16 16, default;
}

body {
  background: rgb(160, 200, 255);
  margin: 0;
  overflow: hidden; /* prevents vertical scrolling */
  display: flex;
  justify-content: center;
}

a {
  --tilt: 0deg;

  border: var(--border);
  border-radius: 15px;
  box-shadow: var(--shadow);
  color: black;
  background: rgba(160, 200, 255, 0.4);
  backdrop-filter: blur(2px);
  cursor: url("../images/landing-images/hover.png") 16 16, default;
  height: fit-content;
  padding: 10px 15px;
  text-decoration: none;
  transform: rotate(var(--tilt));
  transition: box-shadow 0.25s ease, transform 0.25s ease;
  width: fit-content;
}

a:hover {
  box-shadow: var(--shadow-hover);
  transition: box-shadow 0.25s ease, transform 0.25s ease;
}

/* === NAVIGATION === */
nav {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 10;
  margin: 2rem max(1rem, 5%) 4rem;
  max-width: 1690px;
}

.navigation {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
  height: fit-content;
  list-style: none;
  padding: 0;
}

.navigation li svg {
  display: block;
}

.navigation a {
  display: block;
}


/* === HERO SECTION === */
.hero {
  display: grid;
  column-gap: 6rem;
  row-gap: 2rem;
  grid-template-areas:
    "a"
    "b"
    "c"
    "d";
  justify-content: left;
  align-content: baseline;
  overflow-y: auto;
  overflow-x: visible;
  position: relative;
  height: 100vh;
  max-width: 1690px;
  padding: 8rem 0.5rem 4rem 0.5rem;
  margin: 0 max(1rem, 5%);
  text-align: left;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.hero::-webkit-scrollbar {
  display: none;
}

@media screen and (min-width: 1070px) {
  .hero {
    grid-template-areas:
      "a a"
      "b c"
      "b d";
      row-gap: 0;
      padding: 12rem 0.5rem 4rem 0.5rem;
  }
}

.category {
  font-optical-sizing: auto;
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
}

.abstract {
  grid-area: b;
  max-width: 860px;
}

.category:nth-child(1) {
  grid-area: c;
}

.category:nth-child(2) {
  grid-area: d;
}

.hero > h1 {
  grid-area: a;
  font-size: 4rem;
  font-weight: 400;
  margin: 0 0 2rem 0;
}


/* === FLOATING BUBBLES CONTAINER === */
.floating-projects {
  height: 100vh;
  left: 0;
  overflow: hidden;
  pointer-events: none;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}


/* === BUBBLES === */
.project-bubble {
  --hit-react: 0deg;
  overflow: hidden;
  pointer-events: auto;
  position: absolute;
  transform: rotate(var(--hit-react));
  transition: transform 0.25s ease;
  z-index: 5;
}